# Entornos virtuales
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Django
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3

# Medios y archivos generados
/media/
staticfiles/

# Configuración local
.env
*.env
.env*

# Archivos del sistema
.DS_Store
Thumbs.db
