# Entorno virtual
venv/

# Archivos de compilación
__pycache__/
*.py[cod]
*.log

# Archivos de base de datos local
db.sqlite3

# Archivos del entorno
.env

# Configuración de sistema
.DS_Store
Thumbs.db
