{% extends 'base.html' %}

{% block title %}Inicio de Sesion - LaburoSV{% endblock %}

{% block meta_description %}Página para iniciar sesion en la bolsa de trabajo de LaburoSV{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-4 mx-auto text-center">
            <!-- Card con sombra -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <form  action="" method="POST">
                        {% csrf_token %}
                        <h2 class="mb-4">Iniciar Sesión</h2>
                        <div class="input-group mb-2">
                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            <input type="text" name="username" placeholder="Usuario" class="form-control" required>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" name="password"  placeholder="Contraseña" class="form-control""Contraseña" id="password" required>
                        </div> 
                        <button type="submit" class="btn btn-primary mt-3">Iniciar Sesión</button>

                        <!-- Enlace para recuperación de contraseña -->
                        <div class="text-center">
                            <a href="{% url 'recuperar_contrasena' %}" class=" text-decoration-none">¿Olvidaste tu constraseña?</a>
                        </div> 
                        <!-- Enlace para crear cuenta -->   
                       <div class="text-center mt-3">
                            <p class="mb-0">¿No tienes cuenta? 
                                <a href="{% url 'register' %}" class="fw-bold text-dark text-decoration-none">
                                    ¡Creala aquí!
                                </a>
                            </p>
                        </div>
                    </form>
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}