{% extends "base.html" %}

{% block title %}Nueva Contraseña{% endblock %}

{% block meta_description %}Página para actualizar la contraseña{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-4 mx-auto text-center">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="mb-4">Ingrese su nueva contraseña</h2>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" name="contrasena" placeholder="Nueva contraseña" required class="form-control">
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" name="confirmar_contrasena" placeholder="Confirmar contraseña" required class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
