{% extends 'base.html' %}

{% block title %}Registrar - LaburoSV{% endblock %}

{% block meta_description %}Página para registrarse como empresa en la bolsa de trabajo LaburoSV{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="row">
        <div class="col-md-5 mx-auto text-center">
            <!-- Card con sombra -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <form class="login-form" action="{% url 'usuarios:registrar_empresa' token %}" method="POST">
                        {% csrf_token %}
                        <div class="text-center">
                            <h2 class="mb-1">Crear cuenta para {{ nombre_empresa }}</h2>
                        </div>

                        <label for="basic-url" class="form-label">Datos de Cuenta:</label>
                        <div class="input-group mb-2">
                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            <input type="text" name="usuario"  id="validationCustomUsername" placeholder="Usuario"  class="form-control" value="{{ username|default:'' }}" >
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" name="contrasena" id="password" placeholder="Contraseña" class="form-control" >
                        </div> 
                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" name="confirmar_contrasena" placeholder="Repite Contraseña" class="form-control" >
                        </div>           
                        <button type="submit" class="btn btn-primary me-md-">Registrarse</button>           
                    </form>
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<h2>Crear cuenta para {{ nombre_empresa }}</h2>

<form method="POST">
    {% csrf_token %}
    <label>Usuario</label>
    <input type="text" name="username" required>

    <label>Contraseña</label>
    <input type="password" name="contrasena" required>

    <button type="submit">Crear cuenta</button>
</form>