{% extends 'base.html' %}

{% block title %}Verificar Registro{% endblock %}

{% block meta_description %}Página de verificar{% endblock %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <!-- Card con sombra -->
            <div class="card shadow-lg">
                <div class="card-body">

                    <form method="POST">
                        {% csrf_token %}
                        <h1 class="display-4 mb-4">Verificar Cuenta</h1>
                        <div class="form-group">
                            <input type="text" name="codigo" placeholder="Código">
                        </div>
                        <button type="submit" class="btn btn-primary me-md-2" >Verificar</button>
                    </form>
                  </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}