{% extends 'base.html' %}

{% block content %}

<h1>Detalle de Oferta</h1>

<div class="card p-4 mt-3">
    <h3>{{ oferta.titulo }}</h3>
    <p><strong>Empresa:</strong> {{ oferta.empresa }}</p>
    <p><strong>Descripción:</strong> {{ oferta.descripcion }}</p>
    <p><strong>Ubicación:</strong> {{ oferta.ubicacion }}</p>
    <p><strong>Salario:</strong> ${{ oferta.salario }}</p>
    <p><strong>Estado:</strong> {{ oferta.estado }}</p>
    <p><strong>Fecha:</strong> {{ oferta.fecha_publicacion }}</p>

    <a href="{% url 'admin_ofertas' %}" class="btn btn-secondary mt-3">Volver</a>
</div>

{% endblock %}
