{% extends 'base.html' %}

{% block title %}Mi Perfil - Candidato{% endblock %}

{% block meta_description %}Página de para enseñar datos de el candidato{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <!-- Card con sombra -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="display-4 mb-4">Mi Perfil</h1>
                    
                    <!-- Información del usuario -->
                     <i class="bi bi-person-fill"></i> 
                    <div class="profile-item">
                        <span>Nombre:</span> {{ user.first_name }} {{ user.last_name }}
                    </div>
                    <div class="profile-item">
                        <span>Usuario:</span> {{ user.username }}
                    </div>
                    <div class="profile-item">
                        <span>Correo:</span> {{ user.email }}
                    </div>
                    <!-- Botón para volver al inicio -->
                    <a href="{% url 'hola_mundo' %}" class="btn btn-primary me-md-2">Volver a Inicio</a>
    
               </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}