{% extends 'base.html' %}

{% block title %}Hola Mundo - Prueba Bootstrap{% endblock %}

{% block meta_description %}Página de prueba para verificar Bootstrap{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <!-- Card con sombra -->
            <div class="card shadow-lg">
                <div class="card-body">
                    <h1 class="display-4 mb-4">EMPRESA</h1>                    
                    <!-- Información del usuario -->
                    <div class="profile-item">
                        <i class="bi bi-building-fill"></i>
                        <span>Nombre de Empresa: </span> {{ user.first_name }}
                    </div>
                    <div class="profile-item">
                        <span>Usuario: </span> {{ user.username }}
                    </div>
                    <div class="profile-item">
                        <span>Correo: </span> {{ user.email }}
                    </div>
                    <!-- Botón para volver al inicio -->
                    <a href="{% url 'pagina_principal' %}" class="btn btn-primary me-md-2">Volver a Inicio</a>

    
               </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}