{% extends 'base.html' %}

{% block title %}Politicas de Privacidad - LaburoSV{% endblock %}

{% block content %}
<header>
            <h1 class="text-center">Política de Privacidad</h1>
            <p class="text-muted">Última actualización: 06 de diciembre de 2025</p>
            <div class="alert-info">
                Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.
            </div>
            <p>Utilizamos sus Datos Personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Generador de Políticas de Privacidad de TermsFeed</a>.</p>
        </header>

        <section id="definitions">
            <h2>Interpretación y Definiciones</h2>
            
            <h3>Interpretación</h3>
            <p>Las palabras cuyas letras iniciales están en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en singular o en plural.</p>

            <h3>Definiciones</h3>
            <p>Para los fines de esta Política de Privacidad:</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong>Cuenta</strong> significa una cuenta única creada para que usted acceda a nuestro Servicio o partes de nuestro Servicio.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Afiliada</strong> significa una entidad que controla, es controlada por, o está bajo control común con una parte, donde "control" significa la propiedad del 50% o más de las acciones, participación accionaria u otros valores con derecho a voto para la elección de directores u otra autoridad de gestión.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Compañía</strong> (denominada como "la Compañía", "Nosotros" o "Nuestro" en este Acuerdo) se refiere a **LaburoSV**.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Cookies</strong> son pequeños archivos que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen los detalles de su historial de navegación en ese sitio web, entre sus muchos usos.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>País</strong> se refiere a: **El Salvador**</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono celular o una tableta digital.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Datos Personales</strong> es cualquier información que se relaciona con un individuo identificado o identificable.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Servicio</strong> se refiere al Sitio Web.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Proveedor de Servicios</strong> significa cualquier persona natural o jurídica que procese los datos en nombre de la Compañía. Se refiere a compañías de terceros o individuos empleados por la Compañía para facilitar el Servicio, para proporcionar el Servicio en nombre de la Compañía, para realizar servicios relacionados con el Servicio o para ayudar a la Compañía a analizar cómo se utiliza el Servicio.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Datos de Uso</strong> se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Sitio Web</strong> se refiere a LaburoSV, accesible desde <a href="https://laburosv.com/" rel="external nofollow noopener" target="_blank">https://laburosv.com/</a></p>
                </li>
                <li class="list-group-item">
                    <p><strong>Usted</strong> significa la persona que accede o utiliza el Servicio, o la empresa, u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
                </li>
            </ul>
        </section>

        <section id="data-collection">
            <h2>Recopilación y Uso de Sus Datos Personales</h2>
            
            <h3>Tipos de Datos Recopilados</h3>
            
            <h4>Datos Personales</h4>
            <p>Mientras utiliza Nuestro Servicio, podemos solicitarle que nos proporcione cierta información de identificación personal que puede utilizarse para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otros:</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>Dirección de correo electrónico</p>
                </li>
                <li class="list-group-item">
                    <p>Nombre y apellido</p>
                </li>
                <li class="list-group-item">
                    <p>Número de teléfono</p>
                </li>
                <li class="list-group-item">
                    <p>Datos de Uso</p>
                </li>
            </ul>

            <h4>Datos de Uso</h4>
            <p>Los Datos de Uso se recopilan automáticamente al usar el Servicio.</p>
            <p>Los Datos de Uso pueden incluir información como la dirección de Protocolo de Internet de su Dispositivo (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visita, la hora y fecha de su visita, el tiempo que pasó en esas páginas, identificadores únicos de dispositivo y otros datos de diagnóstico.</p>
            <p>Cuando accede al Servicio mediante un dispositivo móvil, podemos recopilar cierta información automáticamente, que incluye, entre otros, el tipo de dispositivo móvil que utiliza, el ID único de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivo y otros datos de diagnóstico.</p>
            <p>También podemos recopilar información que su navegador envía cada vez que visita Nuestro Servicio o cuando accede al Servicio mediante un dispositivo móvil.</p>

            <h4>Tecnologías de Seguimiento y Cookies</h4>
            <p>Utilizamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en Nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento que utilizamos incluyen balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar Nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Cookies o Cookies del Navegador.</strong> Una cookie es un pequeño archivo colocado en su Dispositivo. Puede indicar a su navegador que rechace todas las Cookies o que indique cuándo se está enviando una Cookie. Sin embargo, si no acepta las Cookies, es posible que no pueda usar algunas partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador para que rechace las Cookies, nuestro Servicio puede usar Cookies.</li>
                <li class="list-group-item"><strong>Web Beacons (Balizas Web).</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también denominados gifs transparentes, etiquetas de píxeles y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, contar los usuarios que han visitado esas páginas o abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una determinada sección y verificar la integridad del sistema y del servidor).</li>
            </ul>
            <p>Las Cookies pueden ser Cookies "Persistentes" o de "Sesión". Las Cookies Persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las Cookies de Sesión se eliminan tan pronto como cierra su navegador web. Puede obtener más información sobre las cookies en el artículo del <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">sitio web de TermsFeed</a>.</p>
            <p>Utilizamos tanto Cookies de Sesión como Persistentes para los fines que se detallan a continuación:</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong>Cookies Necesarias / Esenciales</strong></p>
                    <p>Tipo: Cookies de Sesión</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas Cookies son esenciales para proporcionarle los servicios disponibles a través del Sitio Web y para permitirle utilizar algunas de sus características. Ayudan a autenticar a los usuarios y a prevenir el uso fraudulento de las cuentas de usuario. Sin estas Cookies, los servicios que usted ha solicitado no pueden proporcionarse, y solo utilizamos estas Cookies para proporcionarle esos servicios.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Cookies de Política / Aviso de Aceptación de Cookies</strong></p>
                    <p>Tipo: Cookies Persistentes</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Cookies de Funcionalidad</strong></p>
                    <p>Tipo: Cookies Persistentes</p>
                    <p>Administradas por: Nosotros</p>
                    <p>Propósito: Estas Cookies nos permiten recordar las elecciones que usted hace cuando utiliza el Sitio Web, como recordar sus detalles de inicio de sesión o preferencia de idioma. El propósito de estas Cookies es proporcionarle una experiencia más personal y evitar que tenga que volver a ingresar sus preferencias cada vez que utilice el Sitio Web.</p>
                </li>
            </ul>
            <p>Para obtener más información sobre las cookies que utilizamos y sus opciones con respecto a las cookies, visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
        </section>

        <section id="data-use">
            <h3>Uso de Sus Datos Personales</h3>
            <p>La Compañía puede utilizar Datos Personales para los siguientes fines:</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong>Para proporcionar y mantener nuestro Servicio</strong>, incluido el monitoreo del uso de nuestro Servicio.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para gestionar su Cuenta:</strong> para gestionar su registro como usuario del Servicio. Los Datos Personales que proporcione pueden darle acceso a diferentes funcionalidades del Servicio que están disponibles para usted como usuario registrado.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para el cumplimiento de un contrato:</strong> el desarrollo, cumplimiento y realización del contrato de compra de los productos, artículos o servicios que ha adquirido o de cualquier otro contrato con Nosotros a través del Servicio.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para contactarlo:</strong> Para contactarlo por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes de comunicación electrónica, como notificaciones push de una aplicación móvil con respecto a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementación. **Esto incluye el envío de correos electrónicos transaccionales importantes (como restablecimiento de contraseña, notificaciones de postulaciones y cambios en la cuenta) y, si no ha optado por no recibirlos, correos electrónicos promocionales sobre nuevos servicios u ofertas.**</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para proporcionarle</strong> noticias, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos que son similares a los que ya ha comprado o preguntado, a menos que haya optado por no recibir dicha información.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para gestionar sus solicitudes:</strong> Para atender y gestionar sus solicitudes a Nosotros.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para transferencias comerciales:</strong> Podemos utilizar su información para evaluar o llevar a cabo una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos nuestros activos, ya sea como una empresa en funcionamiento o como parte de un procedimiento de quiebra, liquidación o similar, en el que los Datos Personales que tenemos sobre nuestros usuarios del Servicio se encuentran entre los activos transferidos.</p>
                </li>
                <li class="list-group-item">
                    <p><strong>Para otros fines</strong>: Podemos usar su información para otros fines, como análisis de datos, identificación de tendencias de uso, determinación de la efectividad de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</p>
                </li>
            </ul>

            <p>Podemos compartir su información personal en las siguientes situaciones:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Con Proveedores de Servicios:</strong> Podemos compartir su información personal con Proveedores de Servicios para monitorear y analizar el uso de nuestro Servicio, para contactarlo.</li>
                <li class="list-group-item"><strong>Para transferencias comerciales:</strong> Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía, financiación o adquisición de la totalidad o una parte de Nuestro negocio a otra compañía.</li>
                <li class="list-group-item"><strong>Con Afiliadas:</strong> Podemos compartir su información con Nuestras afiliadas, en cuyo caso les exigiremos que respeten esta Política de Privacidad. Las afiliadas incluyen Nuestra empresa matriz y cualquier otra subsidiaria, socio de riesgo conjunto u otras compañías que controlamos o que están bajo control común con Nosotros.</li>
                <li class="list-group-item"><strong>Con socios comerciales:</strong> Podemos compartir su información con Nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
                <li class="list-group-item"><strong>Con otros usuarios:</strong> cuando comparte información personal o interactúa de otra manera en las áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede distribuirse públicamente en el exterior.</li>
                <li class="list-group-item"><strong>Con su consentimiento</strong>: Podemos divulgar su información personal para cualquier otro propósito con su consentimiento.</li>
            </ul>
        </section>

        <section id="data-retention">
            <h3>Retención de Sus Datos Personales</h3>
            <p>La Compañía retendrá sus Datos Personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de Privacidad. Retendremos y utilizaremos sus Datos Personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si se nos exige retener sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
            <p>La Compañía también retendrá Datos de Uso para fines de análisis interno. Los Datos de Uso generalmente se retienen por un período de tiempo más corto, excepto cuando estos datos se utilizan para fortalecer la seguridad o para mejorar la funcionalidad de Nuestro Servicio, o estamos legalmente obligados a retener estos datos por períodos más largos.</p>
        </section>

        <section id="data-transfer">
            <h3>Transferencia de Sus Datos Personales</h3>
            <p>Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Significa que esta información puede transferirse y mantenerse en computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción.</p>
            <p>Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa su acuerdo con esa transferencia.</p>
            <p>La Compañía tomará todas las medidas razonablemente necesarias para garantizar que sus datos sean tratados de forma segura y de acuerdo con esta Política de Privacidad y no se realizará ninguna transferencia de sus Datos Personales a una organización o un país a menos que existan controles adecuados establecidos, incluida la seguridad de sus datos y otra información personal.</p>
        </section>

        <section id="data-delete">
            <h3>Eliminar Sus Datos Personales</h3>
            <p>Usted tiene derecho a eliminar o solicitar que le ayudemos a eliminar los Datos Personales que hemos recopilado sobre usted.</p>
            <p>Nuestro Servicio puede darle la capacidad de eliminar cierta información sobre usted desde el propio Servicio.</p>
            <p>Puede actualizar, modificar o eliminar su información en cualquier momento iniciando sesión en su Cuenta, si tiene una, y visitando la sección de configuración de la cuenta que le permite administrar su información personal. También puede contactarnos para solicitar acceso, corregir o eliminar cualquier información personal que nos haya proporcionado.</p>
            <p>Tenga en cuenta, sin embargo, que es posible que necesitemos retener cierta información cuando tengamos una obligación legal o una base legal para hacerlo.</p>
        </section>

        <section id="data-disclosure">
            <h3>Divulgación de Sus Datos Personales</h3>
            
            <h4>Transacciones Comerciales</h4>
            <p>Si la Compañía está involucrada en una fusión, adquisición o venta de activos, sus Datos Personales pueden transferirse. Le avisaremos antes de que sus Datos Personales se transfieran y queden sujetos a una Política de Privacidad diferente.</p>

            <h4>Cumplimiento de la ley</h4>
            <p>Bajo ciertas circunstancias, la Compañía puede estar obligada a divulgar sus Datos Personales si así lo requiere la ley o en respuesta a solicitudes válidas de autoridades públicas (por ejemplo, un tribunal o una agencia gubernamental).</p>

            <h4>Otros requisitos legales</h4>
            <p>La Compañía puede divulgar sus Datos Personales de buena fe si considera que dicha acción es necesaria para:</p>
            <ul class="list-group">
                <li class="list-group-item">Cumplir con una obligación legal</li>
                <li class="list-group-item">Proteger y defender los derechos o la propiedad de la Compañía</li>
                <li class="list-group-item">Prevenir o investigar posibles irregularidades en relación con el Servicio</li>
                <li class="list-group-item">Proteger la seguridad personal de los Usuarios del Servicio o del público</li>
                <li class="list-group-item">Proteger contra la responsabilidad legal</li>
            </ul>
        </section>

        <section id="data-security">
            <h3>Seguridad de Sus Datos Personales</h3>
            <p>La seguridad de sus Datos Personales es importante para Nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus Datos Personales, no podemos garantizar su seguridad absoluta.</p>
        </section>

        <section id="detailed-processing">
            <h2>Información Detallada sobre el Procesamiento de Sus Datos Personales</h2>
            <p>Los Proveedores de Servicios que utilizamos pueden tener acceso a sus Datos Personales. Estos proveedores externos recopilan, almacenan, usan, procesan y transfieren información sobre su actividad en Nuestro Servicio de acuerdo con sus Políticas de Privacidad.</p>

            <h3>Uso, Rendimiento y Varios</h3>
            <p>Podemos utilizar Proveedores de Servicios de terceros para mantener y mejorar nuestro Servicio.</p>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><strong>Google Places</strong></p>
                    <p>Google Places es un servicio que devuelve información sobre lugares mediante solicitudes HTTP. Es operado por Google.</p>
                    <p>El servicio Google Places puede recopilar información suya y de su Dispositivo con fines de seguridad.</p>
                    <p>La información recopilada por Google Places se mantiene de acuerdo con la Política de Privacidad de Google: <a href="https://www.google.com/intl/en/policies/privacy/" rel="external nofollow noopener" target="_blank">https://www.google.com/intl/en/policies/privacy/</a></p>
                </li>
            </ul>
        </section>

        <section id="children-privacy">
            <h2>Privacidad de los Niños</h2>
            <p>Nuestro Servicio no se dirige a ninguna persona menor de 13 años. No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 13 años. Si usted es padre o tutor y sabe que su hijo nos ha proporcionado Datos Personales, contáctenos. Si nos damos cuenta de que hemos recopilado Datos Personales de cualquier persona menor de 13 años sin la verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de Nuestros servidores.</p>
            <p>Si necesitamos confiar en el consentimiento como base legal para procesar su información y su país requiere el consentimiento de un padre, podemos requerir el consentimiento de sus padres antes de recopilar y utilizar esa información.</p>
        </section>

        <section id="links">
            <h2>Enlaces a Otros Sitios Web</h2>
            <p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace clic en un enlace de un tercero, se le dirigirá al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de Privacidad de cada sitio que visite.</p>
            <p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
        </section>

        <section id="changes">
            <h2>Cambios a esta Política de Privacidad</h2>
            <p>Podemos actualizar Nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
            <p>Le informaremos por correo electrónico y/o un aviso destacado en Nuestro Servicio, antes de que el cambio entre en vigencia y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de Privacidad.</p>
            <p>Se le recomienda revisar esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.</p>
        </section>

        <section id="contact">
            <h2>Contáctenos</h2>
            <p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
            <ul class="list-group">
                <li class="list-group-item">Por correo electrónico: **laburosv@gmail.com**</li>
            </ul>
        </section>
    </div>
{% endblock %}