{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="fw-bold mb-4">Reseñas del Sitio</h2>

    <div class="row g-4">
        {% for r in reviews %}
        <div class="col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="fw-bold">
                        {% for i in "12345" %}
                            {% if forloop.counter <= r.calificacion %}
                                ⭐
                            {% else %}
                                ☆
                            {% endif %}
                        {% endfor %}
                    </h5>

                    <p class="mt-2">{{ r.comentario }}</p>

                    <small class="text-muted">
                        Candidato: {{ r.candidato.usuario.username }} <br>
                        {{ r.fecha }}
                    </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
